body {
  background-color: #e8ecef;
}

.material-icons {
  position: absolute;
  padding: 6px;
  right: 1px;
}
.btn-small {
  bottom: -2.5vh;
  left: -2.2vh;
}
.btn {
  position: relative;
  float: left;
}
/* .btncancelar {
  position: relative;
  float: left;
} */
/* .btnprrfo {
  display: none;
} */
